<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Desapegados</title>
    <link rel="stylesheet" href="/stylesheets/loginCadastro.css">
    <link rel="shortcut icon" href="/images/home/logo-D.ico" type="x-icon">

</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="container">
        <div class="card">
            <div class="card-grup">
                <p>Ocorreu um Erro, verifique os dados inseridos</p>
                <a href="/usuarios/cadastro"><button>Voltar</button></a>
            </div>
        </div>
    </div>
</body>
<footer>
    <%- include('./partials/footer') %>
</footer>

</html>