<!DOCTYPE html>

<html lang="pt-br">

<head>
    <title>Home | Desapegados</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="shortcut icon" href="/images/home/logo-D.ico" type="x-icon">
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <!-- Banner promocional -->
    <div class="banner-promocao">
        <img src="/images/home/arrow-icon.png" alt="" class="arrow-left">
        <img src="/images/home/banner-promocao.jpg" alt="" class="banner">
        <img src="/images/home/arrow-icon.png" alt="" class="arrow-right">
    </div>
    <div class="botoes-banner">
        <input type="radio" name="pagina-banner" id="">
        <input type="radio" name="pagina-banner" id="">
        <input type="radio" name="pagina-banner" id="">
        <input type="radio" name="pagina-banner" id="">
        <input type="radio" name="pagina-banner" id="">
    </div>
    <!-- Titulo primeiro bloco de produtos -->
    <p class="titulo-primeiro-bloco-produtos">Conheça mais do nossos produtos em promoção</p>
    <!-- Primeiro bloco de produtos -->
    <div class="primeiro-bloco-opcoes-produtos">
        <!-- Caixa de produto primeiro bloco -->
        <div class="caixa-produto-promocao">
            <img class="imagem-produto-bloco1" src="/images/produtos/produto1.png" alt="">
            <div class="descricao-produto-primeiro-bloco">
                <p>Sofá Living de dois lugares</p>
                <span class="preco-produto-antes">de R$ 1.499,00</span>
                <span class="preco-produto-depois">por R$ 809,46</span>
                <img class="carrinho-icon-add" src="/images/home/carrinho-icon-add.png" alt="">
            </div>
        </div>
        <!-- Caixa de produto primeiro bloco -->
        <div class="caixa-produto-promocao">
            <img class="imagem-produto-bloco1" src="/images/produtos/produto2.png" alt="">
            <div class="descricao-produto-primeiro-bloco">
                <p>Cama de casal</p>
                <span class="preco-produto-antes">de R$ 1.299,00</span>
                <span class="preco-produto-depois">por R$ 909,30</span>
                <img class="carrinho-icon-add" src="/images/home/carrinho-icon-add.png" alt="">
            </div>
        </div>
        <!-- Caixa de produto primeiro bloco -->
        <div class="caixa-produto-promocao">
            <img class="imagem-produto-bloco1" src="/images/produtos/produto3.png" alt="">
            <div class="descricao-produto-primeiro-bloco">
                <p>Mesa para área externa</p>
                <span class="preco-produto-antes">de R$ 997,00</span>
                <span class="preco-produto-depois">por R$ 489,90</span>
                <img class="carrinho-icon-add" src="/images/home/carrinho-icon-add.png" alt="">
            </div>
        </div>
        <!-- Caixa de produto primeiro bloco -->
        <div class="caixa-produto-promocao">
            <img class="imagem-produto-bloco1" src="/images/produtos/produto4.png" alt="">
            <div class="descricao-produto-primeiro-bloco">
                <p>Motorola G270 Mega Plus</p>
                <span class="preco-produto-antes">de R$ 3.499,00</span>
                <span class="preco-produto-depois">por R$ 1.819,48</span>
                <img class="carrinho-icon-add" src="/images/home/carrinho-icon-add.png" alt="">
            </div>
        </div>
        <!-- Caixa de produto primeiro bloco -->
        <div class="caixa-produto-promocao">
            <img class="imagem-produto-bloco1" src="/images/produtos/produto5.png" alt="">
            <div class="descricao-produto-primeiro-bloco">
                <p>Armário Aurora Wood</p>
                <span class="preco-produto-antes">de R$ 1.299,00</span>
                <span class="preco-produto-depois">por R$ 857,34</span>
                <img class="carrinho-icon-add" src="/images/home/carrinho-icon-add.png" alt="">
            </div>
        </div>
    </div>
    <!-- Titulo bloco de categorias -->
    <p class="titulo-bloco-categorias">Encontre o produto que deseja por categoria!</p>
    <div class="segundo-bloco-opcoes-categoria">
        <!-- Caixa de categoria -->
        <div class="caixa-categoria">
            <p class="nome-categoria">Sofá</p>
            <a href="/produtos/categoria/sofas">
                <img src="/images/home/sofa-icon.png" alt="" class="icone-categoria">
                <p class="ver-mais">Ver Mais</p>
            </a>
        </div>
        <!-- Caixa de categoria -->
        <div class="caixa-categoria">
            <p class="nome-categoria">Cama</p>
            <a href="/produtos/categoria/camas">
                <img src="/images/home/cama-icon.png" alt="" class="icone-categoria">
                <p class="ver-mais">Ver Mais</p>
            </a>
        </div>
        <!-- Caixa de categoria -->
        <div class="caixa-categoria">
            <p class="nome-categoria">Celular</p>
            <a href="/produtos/categoria/celulares">
                <img src="/images/home/celular-icon.png" alt="" class="icone-categoria">
                <p class="ver-mais">Ver Mais</p>
            </a>
        </div>
        <!-- Caixa de categoria -->
        <div class="caixa-categoria">
            <p class="nome-categoria">Guarda-roupa</p>
            <a href="/produtos/categoria/guardaroupas">
                <img src="/images/home/guardaroupa-icon.png" alt="" class="icone-categoria">
                <p class="ver-mais">Ver Mais</p>
            </a>
        </div>
        <!-- Caixa de categoria -->
        <div class="caixa-categoria">
            <p class="nome-categoria">Eletrodomésticos</p>
            <a href="/produtos/categoria/eletrodomesticos">
                <img src="/images/home/fogao-icon.png" alt="" class="icone-categoria">
                <p class="ver-mais">Ver Mais</p>
            </a>
        </div>
    </div>
    <!-- Titulo segundo bloco de produtos -->
    <div class="titulo-segundo-bloco-produtos">Produtos mais vendidos</div>
    <!-- Segundo bloco de produtos -->
    <div class="segundo-bloco-opcao-descricao">
        <img src="/images/home/arrow-icon.png" alt="" class="arrow-left">
        <!-- Caixa de produto segundo bloco -->
        <div class="caixa-produto-descricao">
            <img class="imagem-produto-bloco2" src="/images/produtos/produto6.png" alt="">
            <span class="descricao-produto-segundo-bloco">
                Conjuro de cadeiras acolchoados, ótimo para mesa de jantar, escolha o que é melhor para você, duas,
                quatro ou seis cadeiras.
                <p class="preco-produto-depois">Por R$ 399,49</p>
            </span>
        </div>
        <!-- Caixa de produto segundo bloco -->
        <div class="caixa-produto-descricao">
            <img class="imagem-produto-bloco2" src="/images/produtos/produto7.png" alt="">
            <span class="descricao-produto-segundo-bloco">
                Monitor Gamer, ótimo balanceamento de cores e alta taxa de resposta, perfeito para jogar jogos em
                60fp/s.
                <p class="preco-produto-depois">Por R$ 789,89</p>
            </span>
        </div>
        <!-- Caixa de produto segundo bloco -->
        <div class="caixa-produto-descricao">
            <img class="imagem-produto-bloco2" src="/images/produtos/produto8.png" alt="">
            <span class="descricao-produto-segundo-bloco">
                Mochila antifurto, com usb interno para fácil carregamento atráves de powerbank, ideial para levar
                notebook, produto acompanha cadeado.
                <p class="preco-produto-depois">Por R$ 229,09</p>
            </span>
        </div>
        <img src="/images/home/arrow-icon.png" alt="" class="arrow-right">
    </div>
    <!-- Titulo terceiro bloco de produtos -->
    <div class="titulo-terceiro-bloco-produtos">Ultimas unidades em estoque!</div>
    <!-- Terceiro bloco de produtos -->
    <div class="terceiro-bloco-opcao-variedades">
        <!-- Caixa de produto terceiro bloco -->
        <div class="caixa-produto-variedade">
            <img src="/images/produtos/produto9.png" alt="" class="imagem-produto-bloco3">
            <div class="descricao-produto-terceiro-bloco">
                <span>A Cozinha valência deixa o ambiente ainda mais convidativo e sempre pronto para te ajudar.
                    Produzido com materiais de resistência e qualidade, é a melhor opção para sua cozinha.</span>
            </div>
            <div class="preco-carrinho">
                <p class="preco-produto-antes">de R$ 1.290,99</p>
                <p class="preco-produto-depois">por R$ 890,99</p>
            </div>
        </div>
        <!-- Caixa de produto terceiro bloco -->
        <div class="caixa-produto-variedade">
            <img src="/images/produtos/produto10.png" alt="" class="imagem-produto-bloco3">
            <div class="descricao-produto-terceiro-bloco">
                <span>O Fogão 4 queimadores da Fischer possui mesa em vidro temperado, 1 queimador rápido de 3000W e
                    três queimadores semirrápidos de 1750W. Nas cor Preto Ébano </span>
            </div>
            <div class="preco-carrinho">
                <p class="preco-produto-antes">de R$ 2.499,00</p>
                <p class="preco-produto-depois">por R$ 1.824,27</p>
            </div>
        </div>
        <!-- Caixa de produto terceiro bloco -->
        <div class="caixa-produto-variedade">
            <img src="/images/produtos/produto11.png" alt="" class="imagem-produto-bloco3">
            <div class="descricao-produto-terceiro-bloco">
                <span>O ambiente de trabalho ou estudos precisa estar sempre organizado, pois ele contribui diretamente
                    no nosso foco. E para isso, a Mesa Office da Notável Móveis é o item certo.</span>
            </div>
            <div class="preco-carrinho">
                <p class="preco-produto-depois">por R$ 549,09</p>
            </div>
        </div>
        <!-- Caixa de produto terceiro bloco -->
        <div class="caixa-produto-variedade">
            <img src="/images/produtos/produto12.png" alt="" class="imagem-produto-bloco3">
            <div class="descricao-produto-terceiro-bloco">
                <span>O Guarda-Roupa Casal Reno da Madesa traz uma combinação perfeita entre design moderno, ótima
                    disposição interna e materiais de qualidade. São três portas de correr.</span>
            </div>
            <div class="preco-carrinho">
                <p class="preco-produto-depois">por R$ 1.879,00</p>
            </div>
        </div>
        <!-- Caixa de produto terceiro bloco -->
        <div class="caixa-produto-variedade">
            <img src="/images/produtos/produto13.png" alt="" class="imagem-produto-bloco3">
            <div class="descricao-produto-terceiro-bloco">
                <span>Cozinhar com praticidade, rapidez e segurança é tudo o que desejamos, com 3 litros de capacidade,
                    ela possui o tamanho perfeito para o preparo de receitas do dia a dia.</span>
            </div>
            <div class="preco-carrinho">
                <p class="preco-produto-antes">de R$ 997,00</p>
                <p class="preco-produto-depois">por R$ 697,90</p>
            </div>
        </div>
        <!-- Caixa de produto terceiro bloco -->
        <div class="caixa-produto-variedade">
            <img src="/images/produtos/produto14.png" alt="" class="imagem-produto-bloco3">
            <div class="descricao-produto-terceiro-bloco">
                <span>Busca inovação,conforto, durabilidade e sustentabilidade para sua sala de estar? Com a Poltrona
                    Pisces você tem tudo
                    isso em uma única poltrona, ela com certeza será o diferencial na sua decoração.</span>
            </div>
            <div class="preco-carrinho">
                <p class="preco-produto-depois">por R$ 649,00</p>
            </div>
        </div>
    </div>
</body>

<footer>
    <%- include('./partials/footer') %>
</footer>

</html>