<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Todos os Produtos | Desapegados.com</title>
    <link rel="shortcut icon" href="/images/home/logo-D.ico" type="x-icon">
    <link rel="stylesheet" href="/stylesheets/pagUsuarios.css">
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>

</body>

<footer>
    <%- include('./partials/footer') %>
</footer>

</html>